@font-face {
  font-family: 'Card Characters';
  src: url('CardCharacters.ttf');
}

body {
    background-image: url(green_felt.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150%;
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

a:link { color: white; }
a:active { color: grey; }
a:visited { color: lightgrey; }

.player-cards {
  border: 3px solid white;
  border-radius: 20px;
}

.big-instructions {
  font-size: 40px;
  font-family:'Card Characters';
  color:yellow
}

.small-instructions {
  font-size: 27px;
  font-family:'Card Characters';
  color:white
}

.round-status { font-family:'Card Characters'; }
.win { color:yellow; }
.push { color:white; }
.loss { color: red;}
